@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --poppins-font: "Poppins", sans-serif;
  --bg-color: #121829;
  --bg-card: #20283ecc;
  --color: #ffffffef;
  --box-shadow: #665ECF;
  --btn: #665ECF;
  --text-shadow: 1px 1px 2px rgb(0, 0, 0);
  --breadcrumbs-color : rgba(190, 183, 251, 0.89);
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--poppins-font);
  font-size: 20px;
  background-color: var(--bg-color);
  color: var(--color);
  text-shadow: var(--text-shadow);
  
}

a {
  text-decoration: none;
  color: var(--color);
}

.container {
  margin: 0 auto;
  max-width: 1420px;
  padding: 80px 20px;
}
